@page "/customers"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using Car_Rental_Management.Domain
@using Car_Rental_Management.Data
@implements IAsyncDisposable
@inject IDbContextFactory<Car_Rental_ManagementContext> DbFactory

@attribute [Authorize(Roles = "Administrator, User")]
@rendermode InteractiveServer

<PageTitle>Customers</PageTitle>

<h1>Customers</h1>

<p>
    <a href="customers/create">Create New</a>
</p>


<QuickGrid Class="table" Items="FilteredCustomers">
    <PropertyColumn Property="customer => customer.DrivingLicense" Sortable="true">
        <ColumnOptions>
            <div>
                <input type="search" @bind="searchText" @bind:event="oninput" autofocus />
            </div>
        </ColumnOptions>
    </PropertyColumn>
    <PropertyColumn Property="customer => customer.Address" />


    <!-- FIXED: removed duplicate Address column -->
    <PropertyColumn Property="customer => customer.Address" />
    <PropertyColumn Property="customer => customer.ContactNumber" />
    <PropertyColumn Property="customer => customer.EmailAddress" />
    <PropertyColumn Property="customer => customer.DateCreated" />
    <PropertyColumn Property="customer => customer.DateUpdated" />
    <PropertyColumn Property="customer => customer.CreatedBy" />
    <PropertyColumn Property="customer => customer.UpdatedBy" />

    <TemplateColumn Context="customer">
        <a href="@($"customers/edit?id={customer.Id}")">Edit</a> |
        <a href="@($"customers/details?id={customer.Id}")">Details</a>
        <AuthorizeView Roles="Administrator">
            | <a href="@($"customers/delete?id={customer.Id}")">Delete</a>
        </AuthorizeView>
    </TemplateColumn>
</QuickGrid>

@code {

    private string searchText = "";
    private IQueryable<Customer> FilteredCustomers => context.Customer.Where(c => c.DrivingLicense.Contains(searchText));

    private Car_Rental_ManagementContext context = default!;


    protected override async Task OnInitializedAsync()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() =>
        await context.DisposeAsync();
}
